* {
margin: 0;
padding: 0;
box-sizing: border-box;

/* text-rendering: optimizeLegibility; */
-moz-osx-font-smoothing: grayscale;  
-webkit-font-smoothing: antialiased; 

}

body {
    background-color: aliceblue;    
    color: #283166;
    text-decoration: none;

    font-family: "Inter", "Roboto", sans-serif;
}

.cards {
    margin-top: 5rem;
    margin-bottom: 5rem;
    /* width: 20rem; */
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
